* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI';
}

body {
	background-color: #F5F5F5;
}

.wrapper {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	padding: 12px;
	width: 256px;
	height: 256px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

input {
	width: 100%;
	height: 80px;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	transition: box-shadow 0.2s linear;
	font-size: 30px;
	text-align: center;
}

input:focus {
	outline: none;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.result {
	font-size: 30px;
	text-align: center;
	margin-bottom: -20px;
}

.result-with {
	font-size: 22px;
	text-align: center;
	margin-bottom: 30px;
}